node_modules
dist*
.DS_Store
*.local
.eslintcache
.vscode
.idea
*.tsbuildinfo
.env
.env.*
!.env.example
# 本地维护的插件源码
src/plugins/*
!src/plugins/west/
src/plugins/west/*
!src/plugins/west/cell-enhance/
src/modules/*
!src/modules/base/
!src/modules/base/**
